/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*

# Arquivos de ambiente e segredos
.env
.env.backup
.env.production
auth.json

# Testes e relatórios de cobertura
.phpunit.result.cache
.coverage
html-report/

# Arquivos de Sistema e IDE
.idea
.vscode
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# Opcional: Se você usa SQLite localmente e não quer subir o banco
/database/*.sqlite